header#about.header.font.font_family_dosis
  .header__nav
    .content
      .js-nav-toggle.nav__button
      nav.nav-collapse
        ul.nav__list
          li.nav__list-item
            a(href='#about').link About
          li.nav__list-item
            a(href='#discography').link Discography
          li.nav__list-item
            a(href='#concert-tours').link Concert Tours
          li.nav__list-item
            a(href='#latter-compositions').link Latter Compositions
          li.nav__list-item
            a(href='#new-tracks').link New Tracks
          li.nav__list-item
            a(href='#upcoming-events').link Upcoming Events
          li.nav__list-item
            a(href='#history').link History
          li.nav__list-item
            a(href='#contact').link Contact
  img(src='images/header-logo.png', alt='Logotype').header__logo
