.text-content {
  line-height: 24px;

  &__head {
    font-size: responsive 16px 23px;
    margin-bottom: 15px;
    }

  &__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #798285;

    &_color_dark-gray {
      color: #acacac;
      }

    p {
      margin: 0;
      }
    }
  }
