.upcoming-events
  .content
    .upcoming-events__wrapper
      .upcoming-events__head.font.font_family_dosis
        .head
          h2#upcoming-events.head__name.head__name_color_sea-green Upcoming Events

      .upcoming-events__list

        .upcoming-events__list-item
          .upcoming-events-item
            .upcoming-events-item__head Smoke + Mirrors Tour
            .upcoming-events-item__text
              | 2-2-15 Hokukoryokuchi, Konohana Ward,
              br
              | 554-0042 Osaka Prefecture Osaka
            .upcoming-events-item__date.upcoming-events-item__date_after 01.04.2015

        .upcoming-events__list-item
          .upcoming-events-item
            .upcoming-events-item__head Smoke + Mirrors Tour
            .upcoming-events-item__text When the last-minute request is for a focus group, it’s usually a sign that the request originated in Marketing. When Web sites are being designed, the folks in Marketing often feel like they don’t have much clout. Even though they’re the ones who spend the most time trying to figure out who the site’s audience is and what they want, the designers and developers are the ones with most of the
            .upcoming-events-item__date 01.04.2015
