doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content='width=device-width, initial-scale=1')

    //- Generate the favicon pictures and HTML code that work on all major browsers and platforms — http://realfavicongenerator.net/

    block head
    title=pageTitle
    meta(name='description' content=pageDescription)
    meta(name='keywords' content=pageKeywords)
    meta(name='copyright' content=pageCopyright)

    link(rel='stylesheet', href='css/common.css')

  body.font.font_family_open-sans
    block content

    block scripts
      script(src='js/jquery.min.js')
