.slider

  input#radio_1.slider__radio(type='radio', name='radios', checked)
  input#radio_2.slider__radio(type='radio', name='radios')
  input#radio_3.slider__radio(type='radio', name='radios')

  .slider__slides
    .slider__slide
      .slide-content
        img(src='../images/slide-background.jpg').slide-content__background
        .slide-content__wrapper
          .content
            img(src='../images/slide-logo.png').slide-content__logo
            .slide-content__head.font.font_family_dosis
              | In 2008, lead singer Dan Reynolds met
              br
              | drummer Andrew Tolman at Brigham Young University where they were both students
            .slide-content__text Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music. Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.
            .slide-content__caption - Early years (2008-10)

  .slider__slides
    .slider__slide
      .slide-content
        img(src='../images/slide-background.jpg').slide-content__background
        .slide-content__wrapper
          .content
            img(src='../images/slide-logo.png').slide-content__logo
            .slide-content__head.font.font_family_dosis
              | In 2008, lead singer Dan Reynolds met
              br
              | drummer Andrew Tolman at Brigham Young University where they were both students
            .slide-content__text Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music. Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.
            .slide-content__caption - Early years (2008-10)

  .slider__slides
    .slider__slide
      .slide-content
        img(src='../images/slide-background.jpg').slide-content__background
        .slide-content__wrapper
          .content
            img(src='../images/slide-logo.png').slide-content__logo
            .slide-content__head.font.font_family_dosis
              | In 2008, lead singer Dan Reynolds met
              br
              | drummer Andrew Tolman at Brigham Young University where they were both students
            .slide-content__text Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music. Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.
            .slide-content__caption - Early years (2008-10)

  .slider__controls
    label(for='radio_1').slider__control
    label(for='radio_2').slider__control
    label(for='radio_3').slider__control
