.latter-compositions
  .content
    .latter-compositions__head.font.font_family_dosis
      .head
        h2#latter-compositions.head__name Latter Compositions
    .latter-compositions__text.text "It's Time" was released as the lead single from Continued Silence and It's Time, both extended plays preceding Night Visions' release.

    .latter-compositions__list

      .latter-compositions__list-item
        .latter-compositions-item
          .latter-compositions-item__title
            .title
              .title__date 03.04.2015
              .title__name Indian Sammer
          .latter-compositions-item__content
            .text-content
              .text-content__head.latter-compositions-item__content-head Sam Feldt ft. Kimberly Anne - Show Me Love (EDX's Indian Summer Remix)
              .text-content__text "Radioactive" is a song recorded by American rock band Imagine Dragons for their major-label debut EP Continued Silence and later on their debut studio album, Night Visions (2012), as the opening track. "Radioactive" was
          .latter-compositions-item__panel
            .latter-compositions-item__panel-item
              button.button.button_style_action Visit the iTunes
            .latter-compositions-item__panel-item
              .panel
                .panel__item
                  span.panel-item__icon.panel-item__icon_audio
                  | 82,364
                .panel__item
                  span.panel-item__icon.panel-item__icon_heart
                  | 10 k
                .panel__item
                  span.panel-item__icon.panel-item__icon_share
                  | 3 k
                .panel__item
                  span.panel-item__icon.panel-item__icon_speech-buble
                  | 96
        video(poster='../images/latter-compositions-video-screen_1.jpg').video

      .latter-compositions__list-item
        .latter-compositions-item.latter-compositions-item_style_reverse
          .latter-compositions-item__title
            .title
              .title__date 20.07.2015
              .title__name Indian sammer remix
          .latter-compositions-item__content
            .text-content
              .text-content__head.latter-compositions-item__content-head Sam Feldt - Show Me Love (EDX's Indian Summer Remix)
              .text-content__text Amsterdam's Sam Feldt earned attention in Europe and then worldwide for his melodic house remixes, mixtapes, and collaborations including 2014's "Bloesem" with De Hofnar and "Hot Skin" with Kav Verhouzer on...
          .latter-compositions-item__panel
            .latter-compositions-item__panel-item
              button.button.button_style_action Visit the iTunes
            .latter-compositions-item__panel-item
              .panel
                .panel__item
                  span.panel-item__icon.panel-item__icon_audio
                  | 12,289
                .panel__item
                  span.panel-item__icon.panel-item__icon_heart
                  | 8 k
                .panel__item
                  span.panel-item__icon.panel-item__icon_share
                  | 1 k
                .panel__item
                  span.panel-item__icon.panel-item__icon_speech-buble
                  | 23
        video(poster='../images/latter-compositions-video-screen_2.jpg').video.video_style_reverse

      .latter-compositions__list-item
        .latter-compositions-item
          .latter-compositions-item__title
            .title
              .title__date 03.04.2015
              .title__name Chill nation
          .latter-compositions-item__content
            .text-content
              .text-content__head.latter-compositions-item__content-head James Bay - Let It Go (Bearson Remix)
              .text-content__text A soulful singer/songwriter from a small English town with a penchant for crafting moving and evocative folk-pop confections in the vein of Ed Sheeran, Foy Vance, and Ben Howard, James Bay hails from the North Hertf...
          .latter-compositions-item__panel
            .latter-compositions-item__panel-item
              button.button.button_style_action Visit the iTunes
            .latter-compositions-item__panel-item
              .panel
                .panel__item
                  span.panel-item__icon.panel-item__icon_audio
                  | 182,364
                .panel__item
                  span.panel-item__icon.panel-item__icon_heart
                  | 10 k
                .panel__item
                  span.panel-item__icon.panel-item__icon_share
                  | 3 k
                .panel__item
                  span.panel-item__icon.panel-item__icon_speech-buble
                  | 96
        video(poster='../images/latter-compositions-video-screen_3.jpg').video

