.latter-compositions {
  padding: 155px 0 160px 0;

  &__head {
    max-width: 610px;
    margin: 0 auto 40px;
    }

  &__text {
    max-width: 690px;
    margin: 0 auto 160px;
    }

  &__list-item {
    lost-utility: clearfix;
    margin-bottom: 55px;
    &:last-child {
      margin-bottom: 0;
      }
    }
  }

.latter-compositions-item {
  lost-column: 1/2;
  position: relative;
  max-width: 600px;
  height: 422px;
  padding: 30px 65px 30px 35px;
  background: #f5f6f6;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    border-style: solid;
    border-width: 10px 0 10px 13px;
    border-color: transparent transparent transparent #f5f6f6;
    transform: translate(100%, -50%);
    }

  &_style_reverse {
    lost-move: 1/2;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-style: solid;
      border-width: 10px 13px 10px 0;
      border-color: transparent #f5f6f6 transparent transparent;
      transform: translate(-100%, 50%);
      z-index: 100;
      }
    &:after {
      content: none;
      }
    }

  &__panel {
    position: absolute;
    bottom: 38px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &-item {
      }
    }
  }

.panel {
  lost-utility: clearfix;
  position: relative;
  bottom: -30px;
  height: 30px;
  margin-left: 35px;
  line-height: 30px;

  &__item {
    float: left;
    margin-right: 25px;
    font-size: 12px;
    color: #999999;
    }
  }

.panel-item__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-family: 'FontAwesome';
  font-size: 12px;
  line-height: inherit;

  &_audio:before {
    content: '\f027';
    font-size: 14px;
    }

  &_heart:before {
    content: '\f004';
    }

  &_share:before {
    content: '\f045';
    }

  &_speech-buble:before {
    content: '\f075';
    }
  }

.video {
  lost-column: 1/2;
  max-width: 600px;

  &_style_reverse {
    lost-move: -1/2;
    }
  }

@media screen and (width <= 1200px) {

  .latter-compositions {
    padding: 50px 0 60px 0;

    &__head {
      margin: 0 auto 20px;
      }

    &__text {
      max-width: 690px;
      margin: 0 auto 75px;
      padding: 0 20px;
      }

    &__list {
      max-width: 600px;
      margin: 0 auto;
      }

    &__list-item {
      lost-utility: clearfix;
      margin-bottom: 55px;
      &:last-child {
        margin-bottom: 0;
        }
      }
    }

  .latter-compositions-item {
    lost-column: 2/2;
    position: relative;
    max-width: 600px;
    height: 422px;
    padding: 30px 65px 30px 35px;
    background: #f5f6f6;
    &:after {
      content: none;
      }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      border-style: solid;
      border-width: 15px 10px 0 10px;
      border-color: #f5f6f6 transparent transparent transparent;
      transform: translate(-50%, 100%);
      }

    &_style_reverse {
      lost-move: 0/2;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        border-style: solid;
        border-width: 15px 10px 0 10px;
        border-color: #f5f6f6 transparent transparent transparent;
        transform: translate(-50%, 100%);
        }
      &:after {
        content: none;
        }
      }
    }

  .video {
    lost-column: 2/2;
    max-width: 600px;
    &_style_reverse {
      lost-move: 0/2;
      }
    }
  }


@media screen and (width <= 599px) {

  .latter-compositions {
    padding: 50px 0 0 0;
    }

  .latter-compositions-item {
    lost-column: 2/2;
    position: relative;
    max-width: 600px;
    height: auto;
    padding: 30px 65px 120px 35px;
    background: #f5f6f6;
    &:after {
      content: none;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      border-style: solid;
      border-width: 15px 10px 0 10px;
      border-color: #f5f6f6 transparent transparent transparent;
      transform: translate(-50%, 100%);
    }

    &_style_reverse {
      lost-move: 0/2;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        border-style: solid;
        border-width: 15px 10px 0 10px;
        border-color: #f5f6f6 transparent transparent transparent;
        transform: translate(-50%, 100%);
      }
      &:after {
        content: none;
      }
    }

    &__panel {
      flex-direction: column-reverse;
      &-item {
        }
      }
    }

  .panel {
    position: static;
    margin-bottom: 10px;
    margin-left: 0;
    }
  }
