.history
  .content
    .history__head.font.font_family_dosis
      .head
        h2#history.head__name.head__name_color_dim-gray History
    .history__text.text In 2008, lead singer Dan Reynolds met drummer Andrew Tolman at Brigham Young University where they were both students.Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music

    .history__wrapper.font.font_family_dosis

      .history__list

        .history__list-item
          .history__date-name May 16

        .history__list-item
          .history__date-name Apr 11

        .history__list-item
          .history__date-name.history__date-name_style_current May 09
          .history__date-text.font.font_family_open-sans Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.

        .history__list-item
          .history__date-name May 16

        .history__list-item
          .history__date-name May 16
