.history {
  width: 100%;
  padding: 160px 0 100px;
  height: 1250px;
  background: url(../images/history-background.jpg) center bottom no-repeat;
  overflow-x: hidden;

  &__head {
    max-width: 275px;
    margin: 0 auto 40px;
    }

  &__text {
    max-width: 810px;
    margin: 0 auto 180px;
    }

  &__wrapper {
    position: relative;
  }

  &__list {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2000px;
    text-align: center;
    transform: translateX(-49.5%);
    &:after {
      content: '';
      display: block;
      width: 150px;
      height: 1px;
      background-color: #000;
      opacity: .28;
      }
    }
  }

.history__list-item {
  display: flex;
  align-items: center;
  margin-right: 35px;
  &:before {
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    margin-right:32px;
    background-color: #000;
    opacity: .3;
    }
  }

.history {

  &__date-name {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 5px;
    color: color(gray a(70%));
    text-transform: uppercase;

    &_style_current {
      display: flex;
      align-items: center;
      color: #565a59;
      }
    }

  &__date-text {
    position: absolute;
    left: 50%;
    width: 230px;
    margin-top: 70px;
    font-size: 14px;
    line-height: 19px;
    text-transform: none;
    color: #565a59;
    transform: translateX(-50%);
    }
  }


@media screen and (width <= 1200px) {

  .history {
    height: 1060px;
    padding: 50px 0 0;

    &__head {
      margin: 0 auto 20px;
      padding: 0 20px;
      }

    &__text {
      margin: 0 auto 75px;
      padding: 0 20px;
      }
    }
  }
