.concert-tours {
  padding: 155px 0 250px 0;
  background: url(../images/concert-tours-background.png) center bottom no-repeat;

  &__head {
    max-width: 500px;
    margin: 0 auto 40px;
    }

  &__text {
    max-width: 875px;
    margin: 0 auto 475px;
    }
  }


.concert-tours-item {
  &__title {
    max-width: 395px;
    margin-bottom: 35px;
    }

  &__content {
    max-width: 670px;
    }
  }

@media screen and (width <= 1200px) {
  .concert-tours {
    padding: 40px 0 150px 0;
    background: url(../images/concert-tours-background.png) center bottom no-repeat;
    background-size: contain;

    &__wrapper {
      max-width: 670px;
      margin: 0 auto;
      padding: 25px;
      }

    &__head {
      max-width: 500px;
      margin: 0 auto 20px;
      }

    &__text {
      margin: 0 auto 75px;
      padding: 0 20px;
      }
    }

  .concert-tours-item {
    &__title {
      max-width: 395px;
      margin-bottom: 35px;
      }

    &__content {
      max-width: 670px;
      }
    }
  }
