@lost gutter 0;

.contact {
  lost-utility: clearfix;
  padding: 260px 0 300px 0;
  background: url(../images/contact-background.jpg) center bottom no-repeat;

  &__wrapper {
    float: right;
    max-width: 600px;
    width: 100%;
    }

  &__head {
    max-width: 500px;
    margin-bottom: 30px;
    }

  &__text-item {
    margin-bottom: 80px;
    font-size: 14px;
    line-height: 24px;
    color: #778285;
    }

  &__content {
    lost-utility: clearfix;
    }

  &__form {
    lost-column: 10/12;
    }

  &__social {
    lost-column: 2/12;
    }
  }

.form {

  &__item {
    max-width: 380px;
    margin-bottom: 40px;
    }

  &__submit {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    }
  }

.social {
  height: 200px;
  border-left: 1px solid #000;

  &-item {
    display: block;
    width: 30px;
    margin-left: 20px;
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    color: #000;
    transition: color .3s ease-out;
    &:hover {
      color: gray;
      }
    }
  }


@media screen and (width <= 1200px) {
  .contact {
    padding: 50px 0 150px 0;
    height: 100vh;

    &__wrapper {
      float: none;
      margin: 0 auto;
      }

    &__text-item {
      padding: 0 20px;
      }
    }
  }

@media screen and (width <= 650px) {

  .contact__content {
    padding: 0 20px;
    }
  .form__item {
    max-width: 260px;
    }
  }
