.contact
  .content

    .contact__wrapper
      .contact__head.font.font_family_dosis
        .head
          h2#contact.head__name.head__name_color_dark-slate-gray Contact
      .contact__text
        .contact__text-item Canada Island, Division No. 23, Unorganized, MB, Canada<br>Tel. +1(778) 288 5180

      .contact__content

        .contact__form
          form(action='#').form
            input(type='text', placeholder='Name').form__item.input
            input(type='email', placeholder='Email').form__item.input
            input(type='text', placeholder='Message').form__item.input
            button(type='submit').form__submit.button.button_style_submit Send

        .contact__social
          .social
            a(href='#').social-item
              span.fa.fa-facebook
            a(href='#').social-item
              span.fa.fa-instagram
            a(href='#').social-item
              span.fa.fa-twitter
