.new-compositions
  .content

    #new-tracks.new-compositions__list

      .new-compositions__list-item
        .new-compositions-item
          img(src='../images/new-compositions-cover_1.jpg', alt='Cover 1').new-compositions-item__background
          .new-compositions-item__wrapper
            .title
              .title__date 03.04.2015
              .title__name.title__name_color_white Chill nation
            .new-compositions-item__head James Bay - Let It Go (Bearson Remix)
            .text-content
              .text-content__text A soulful singer/songwriter from a small English town with a penchant for crafting moving and evocative folk-pop confections in the vein of Ed Sheeran, Foy Vance, and Ben Howard, James Bay hails from the North Hertf shire market town of Hitchin. Bay honed his skills regionally, eventually landing high-expo
            .new-compositions-item__counter 01

      .new-compositions__list-item
        .new-compositions-item
          img(src='../images/new-compositions-cover_2.jpg', alt='Cover 2').new-compositions-item__background
          .new-compositions-item__wrapper
            .title
              .title__date 01.03.2015
              .title__name.title__name_color_white Chill nation
            .new-compositions-item__head Smoke and Mirrors
            .text-content
              .text-content__text Hard Rock Cafe teamed with the band, granting them the first ever full access to take control of Hard Rock Cafe's internal video system (more than 20,000 screens at all 151 locations
            .new-compositions-item__counter 02

      .new-compositions__list-item
        .new-compositions-item
          img(src='../images/new-compositions-cover_3.jpg', alt='Cover 3').new-compositions-item__background
          .new-compositions-item__wrapper
            .title
              .title__date 04.04.2015
              .title__name.title__name_color_white Chill nation
            .new-compositions-item__head It Comes Back to You
            .text-content
              .text-content__text In 2015 a world tour, entitled the Smoke and Mirrors Tour is scheduled in promotion of the world-wide release of Smoke and Mirrors.
            .new-compositions-item__counter 03

      .new-compositions__list-item
        .new-compositions-item
          img(src='../images/new-compositions-cover_4.jpg', alt='Cover 4').new-compositions-item__background
          .new-compositions-item__wrapper
            .title
              .title__date 01.07.2015
              .title__name.title__name_color_white Chill nation
            .new-compositions-item__head Let It Go (Bearson Remix)
            .text-content
              .text-content__text A soulful singer/songwriter from a small English town with a penchant for crafting moving and evocative folk-pop confections in the vein of Ed Sheeran, Foy Vance, and Ben Howard, James Bay
            .new-compositions-item__counter 04

      .new-compositions__list-item
        .new-compositions-item
          img(src='../images/new-compositions-cover_5.jpg', alt='Cover 5').new-compositions-item__background
          .new-compositions-item__wrapper
            .title
              .title__date 02.11.2015
              .title__name.title__name_color_white Chill nation
            .new-compositions-item__head I Don't Mind
            .text-content
              .text-content__text Hell and Silence is an EP by Las Vegas rock group Imagine Dragons, released in March 2010 in the United States. It was recorded at Battle Born Studios.[1] All songs were written by Imagine Dragons and self-produced. The EP was in part mixed by Grammy nominated engineer Mark Needham.
            .new-compositions-item__counter 05

      .new-compositions__list-item
        .new-compositions-item
          img(src='../images/new-compositions-cover_6.jpg', alt='Cover 6').new-compositions-item__background
          .new-compositions-item__wrapper
            .title
              .title__date 06.09.2015
              .title__name.title__name_color_white Chill nation
            .new-compositions-item__head Smoke + Mirrors
            .text-content
              .text-content__text A soulful singer/songwriter from a small En-
            .new-compositions-item__counter 06

